@tailwind utilities;

.tox.tox-tinymce {
  border: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
}

.tox .tox-edit-area,
.tox .tox-edit-area__iframe {
  background: transparent !important;
}

.tox .tox-edit-area::before {
  background: transparent !important;
}
